// Variable overrides first
$dark: #0A0A0A;
$enable-shadows: true;
$prefix: "mo-";

// Create your own map
$custom-colors: (
  "fg-dark":#00f2ff,
  "bg-dark":#0A0A0A,
  "a1-dark":#40a83e,
  "a2-dark":#CFD186,
  "a3-dark":#E3655B,
  "fg-light":#00282a,
  "bg-light":#f0e0e0,
  "a1-light":#308d9a,
  "a2-light":#8ED081,
  "a3-light":#904E55,
);

// Merge the maps


// Then import Bootstrap
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

$fg-dark: map-get($custom-colors , "fg-dark");
$bg-dark: map-get($custom-colors , "bg-dark");
$a1-dark: map-get($custom-colors , "a1-dark");
$a2-dark: map-get($custom-colors , "a2-dark");
$a3-dark: map-get($custom-colors , "a3-dark");

$fg-light: map-get($custom-colors , "fg-light");
$bg-light: map-get($custom-colors , "bg-light");
$a1-light: map-get($custom-colors , "a1-light");
$a2-light: map-get($custom-colors , "a2-light");
$a3-light: map-get($custom-colors , "a3-light");

// Navbar hover
.dropdown-menu.bg-bg-dark{
  a{
    &:hover {
      background-color: $fg-dark;
      color: $bg-dark !important;
  }
  }
}

.dropdown-menu.bg-bg-light{
  a{
    &:hover {
      background-color: $fg-light;
      color: $bg-light !important;
  }
  }
}

.theme-dark{
  .border-theme{
    border-color: $fg-dark !important;
    opacity: 1
  }

  .bg-a1{
    background-color: $a1-dark;
  }
  .bg-a2{
    background-color: $a2-dark;
  }
  .bg-a3{
    background-color: $a3-dark;
  }

  .bg-theme{
    background-color: $bg-dark;
  }
  .bg-theme-inv{
    background-color: $fg-dark;
  }
  
  .btn-border{
    border-color: $fg-dark;
    color: $fg-dark;
  }

  .text-theme{
    color: $fg-dark;
  }
  .text-dark{
    color: $bg-dark;
  }

  .text-theme-inv{
    color: $bg-dark;
  }

  .card{
    background-color: transparent;
  }

  a{
    color: $fg-dark;
  }

  .react-flow__controls-button{
    background-color: $fg-dark !important;
    color: $bg-dark !important;
    border-color: $fg-dark !important;
  }
  .react-flow__node{
    background-color: $fg-dark !important;
    color: $bg-dark !important;
    // border-color: $fg-dark !important;
  }

  .react-flow__node.react-flow__node-type1{
    background-color: $a1-dark !important;
    border-radius: 150px / 150px;
        // color: $fg-dark !important;
    // border-color: $fg-light !important;
  }

  .react-flow__node.react-flow__node-type2{
    background-color: $a2-dark !important;
    // color: $fg-dark !important;
    // border-color: $fg-light !important;
  }

  .highlight {
    background-color: $a3-dark !important;
    color: white;
  }
} 

.theme-light {

  .border-theme{
    border-color: $fg-light !important;
    opacity: 1
  }

  .bg-theme{
    background-color: $bg-light;
  }

  .bg-a1{
    background-color: $a1-light;
  }
  .bg-a2{
    background-color: $a2-light;
  }
  .bg-a3{
    background-color: $a3-light;
  }

  .bg-theme-inv{
    background-color: $fg-light;
  }

  .text-theme{
    color: $fg-light;
  }
  .text-dark{
    color: $fg-light;
  }

  .text-theme-inv{
    color: $bg-light;
  }

  .btn-border{
    border-color: $fg-light;
    color:$fg-light
  }

  a{
    color: $bg-light;
  }

  .react-flow__controls-button{
    background-color: $bg-light !important;
    color: $fg-light !important;
    border-color: $bg-light !important;
  }
  .react-flow__node{
    background-color: $bg-light !important;
    color: $fg-light !important;
    // border-color: $fg-light !important;
  }

  .react-flow__node.react-flow__node-type1{
    background-color: $a2-light !important;
    color: $fg-light !important;
    // border-color: $fg-light !important;
  }

  .react-flow__node.react-flow__node-type2{
    background-color: $a1-light !important;
    color: $fg-light !important;
    // border-color: $fg-light !important;
  }

  .react-flow__node.highlight {
    background-color: #ff0072;
    color: white;
  }
}

.react-flow__node.selected{
  opacity: 75%;
}

.react-flow__node{
  height: 50px;
}

.react-flow-drag{
  position: static !important; 
}

/* react flow */
.react-flow__attribution{
  display: none;
}

// .react-flow__controls > button{
//   margin-top: 2px;
//   // margin-bottom: 1px;

// }

.d-hidden{
  display: none !important;
}


:export {
  fgDark: $fg-dark;
  bgDark: $bg-dark;
  a1Dark: $a1-dark;
  a2Dark: $a2-dark;
  a3Dark: $a3-dark;

  fgLight: $fg-light;
  bgLight: $bg-light;
  a1Light: $a1-light;
  a2Light: $a2-light;
  a3Light: $a3-light;
}