// Variable overrides first
$dark: #0A0A0A;
$enable-shadows: true;
$prefix: "mo-";

// Create your own map
$custom-colors: (
  "black": #000000,
  "brand":#00f2ff
);

// Merge the maps


// Then import Bootstrap
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

